.section {
  &__article {
    &--bars {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__button {
    background: transparent;
    transition: transform 1s ease-in-out;
    &--goose {
      transform: rotate(0deg);
      &-rotated {
        transform: rotate(180deg);
      }
    }
    &--sababa {
      transform: rotate(0deg);
      &-rotated {
        transform: rotate(180deg);
      }
    }
    &--mercy {
      transform: rotate(0deg);
      &-rotated {
        transform: rotate(180deg);
      }
    }
  }
  &__paragraph {
    &--bars {
      font-weight: 500;
      font-size: 26px;
    }
  }
  &__tile {
    margin: 48px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 1.5s ease-in-out, opacity 0.75s 0.5s ease-in-out;
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    &--goose {
      transform: translateY(-200%);
      opacity: 0;
      &-open {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    &--sababa {
      transform: translateY(-200%);
      opacity: 0;
      &-open {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    &--mercy {
      transform: translateY(-200%);
      opacity: 0;
      &-open {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
  &__h3 {
    &--bars {
      width: 100vw;
      text-align: center;
    }
  }
  &__h2 {
    &--bars {
      margin: 0 8px 16px;
    }
  }
  &__link {
    &--goose {
      transform: translateY(-400%);
      opacity: 0;
      &-open {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    &--sababa {
      transform: translateY(-400%);
      opacity: 0;
      &-open {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    &--mercy {
      transform: translateY(-400%);
      opacity: 0;
      &-open {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    &--bars {
      width: max-content;
      padding: 8px;
      margin: 0 0 32px;
      border: solid 2px $secondaryColor;
      border-radius: 16px;
      font-size: 20px;
      font-weight: 500;
      transition: transform 1.5s ease-in-out, opacity 1s 0.5s ease-in-out;
      &:hover {
        color: $mainColor;
        background-color: $secondaryColor;
        border: solid 2px $mainColor;
      }
    }
  }
  &__paragraph {
    &--bars {
      font-size: 24px;
    }
    &--mercy {
      font-size: 18px;
    }
  }
}
