.section {
  &__article {
    &--basics {
      margin: 64px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: $bigDesktop) {
        display: grid;
        grid-template-areas:
          "image container"
          "heading container"
          "paragraph container";
        grid-template-columns: 60% 40%;
        grid-template-rows: 20vh 10vh 1fr;
      }
    }
  }
  &__container {
    &--basics {
      display: grid;
      grid-template-areas: "cocktail text";
      grid-template-columns: 50% 50%;
      grid-template-rows: 50vh;
      @media (min-width: $bigDesktop) {
        grid-area: container;
        display: flex;
        flex-direction: column;
      }
    }
    &-text {
      grid-area: text;
      display: flex;
      flex-direction: column;
      @media (min-width: $bigDesktop) {
        display: flex;
        flex-direction: column;
      }
    }

    &-list {
      text-align: center;
      @media (min-width: $bigDesktop) {
        grid-area: recipy;

        font-size: 20px;
      }
    }
    &-paragraph {
      text-align: justify;
      margin: 16px 16px 8px 0;
      @media (min-width: $bigDesktop) {
        grid-area: manual;
        font-size: 24px;
        padding: 4px 16px;
      }
    }
  }

  &__image {
    &--basics {
      @media (min-width: $bigDesktop) {
        grid-area: image;
        margin: 0 auto;
        height: 200px;
      }
    }
    &--cocktail {
      grid-area: cocktail;
      margin: auto;
      @media (min-width: $bigDesktop) {
        height: 180px;
      }
    }
    &--method {
      width: 100%;
      height: 48px;
      margin: 8px 0;
      @media (min-width: $bigDesktop) {
        grid-area: method;
        height: 96px;
      }
    }
  }
  &__paragraph {
    &--basics {
      @media (min-width: $desktop) {
        padding: 4px 24px;
      }
      @media (min-width: $bigDesktop) {
        grid-area: paragraph;
        padding: 4px 24px;
        max-width: 960px;
      }
    }
  }
  &__h3 {
    &--basics {
      @media (min-width: $bigDesktop) {
        grid-area: heading;
        text-align: center;
      }
    }
  }
  &__h4 {
    text-align: center;
    @media (min-width: $bigDesktop) {
      grid-area: name;
      font-size: 24px;
    }
  }
}
