.footer {
  &__container {
    height: 55vh;
    background: $secondaryColor;
    color: $mainColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $bigDesktop) {
      height: 75vh;
    }
  }
  &__socials {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 16px;
  }
  &__pages {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 16px;
    &-image {
      height: 45px;
      @media (min-width: $bigDesktop) {
        height: 60px;
      }
    }
  }
  &__credits {
  }
  &__paragraph {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 8px;
    text-align: center;
    @media (min-width: $bigDesktop) {
      font-size: 22px;
    }
    &--name {
      font-size: 24px;
      @media (min-width: $bigDesktop) {
        font-size: 28px;
      }
    }
  }
  &__link {
    text-decoration: underline;
  }
  &__image {
    @media (min-width: $bigDesktop) {
      height: 60px;
    }
  }
  &__h3 {
    @media (min-width: $bigDesktop) {
      font-size: 36px;
    }
  }
}
