.section {
  &--history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $bigDesktop) {
      display: grid;
      grid-template-areas:
        "header header"
        "image link"
        "article article";
      grid-template-columns: 40% 60%;
      grid-template-rows: 10% 40% 1fr;
    }
  }
  &__article {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $secondaryColor;
      color: $mainColor;
      height: 50px;
      @media (min-width: $desktop) {
        height: 65px;
      }
    }
    &--history {
      @media (min-width: $bigDesktop) {
        width: 50%;
      }
    }
  }
  &__container {
    &-article {
      grid-area: article;
      display: flex;
      flex-wrap: wrap;
    }
    &--history {
      grid-area: link;
      margin: 32px 16px;
      display: grid;
      grid-template-areas:
        "heading heading heading"
        "link1 link2 link3";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40px 40px;
      column-gap: 16px;
      row-gap: 16px;
      @media (min-width: $desktop) {
        grid-template-rows: 80px 80px;
        column-gap: 32px;
        margin: 32px 64px;
      }
      &-link {
        border: solid 2px $secondaryColor;
        border-radius: 8px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
          border 0.5s ease-in-out;
        @media (min-width: $desktop) {
          font-size: 26px;
          border-radius: 16px;
          padding: 16px;
        }
        &-1 {
          grid-area: link1;
        }
        &-2 {
          grid-area: link2;
        }
        &-3 {
          grid-area: link3;
        }
        &:hover {
          color: $mainColor;
          background-color: $secondaryColor;
          border: solid 2px $mainColor;
        }
      }
    }
  }
  &__image {
    &--history {
      grid-area: image;
      margin: 0 0 16px 0;
      @media (min-width: $tablet) {
        max-height: 60vh;
      }
      @media (min-width: $desktop) {
        margin: 0 0 32px 0;
      }
      @media (min-width: $bigDesktop) {
        grid-area: image;
        margin: 0;
      }
    }
    &--h3 {
      padding: 0 16px;
      @media (min-width: $desktop) {
        padding: 0 32px;
        height: 60px;
      }
    }
  }
  &__h2 {
    &--history {
      grid-area: header;
      margin: 32px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__h3 {
    @media (min-width: $desktop) {
      font-size: 32px;
    }
    &--link {
      grid-area: heading;
      text-align: center;
      margin: 16px 0;
      @media (min-width: $desktop) {
        font-size: 32px;
      }
      @media (min-width: $bigDesktop) {
        font-size: 48px;
      }
    }
    &--history {
      padding: 0 16px;
    }
  }
  &__paragraph {
    &--history {
      @media (min-width: $bigDesktop) {
        padding: 0 6px;
      }
    }
  }
}
