.section {
  &--introduction {
    text-align: center;
    @media (min-width: $bigDesktop) {
      margin: 256px 0 0 0;
    }
  }
  &__article {
    &--introduction {
    }
  }
  &__h3 {
    &--link {
      grid-area: heading;
      text-align: center;
      margin: 16px 0;
    }
    &--introduction {
      margin: 24px auto;
      color: $mainColor;
      background-color: $secondaryColor;
      width: max-content;
      padding: 8px;
      border-radius: 15px;
    }
  }
  &__paragraph {
    &-list {
      margin: 0 16px;
      text-align: justify;
      font-size: 18px;
      @media (min-width: $desktop) {
        font-size: 24px;
      }
      &-item {
        margin: 8px 0;
      }
    }
  }
  &__image {
    &--introduction {
      margin: 24px 0 0;
    }
  }
}
