.section {
  &-tile {
    margin: 32px 0;
  }
  &--introduction {
    text-align: center;
  }
  &__h3 {
    &--link {
      grid-area: heading;
      text-align: center;
      margin: 16px 0;
    }
    &--introduction {
      color: $mainColor;
      background-color: $secondaryColor;
      width: max-content;
      padding: 8px;
      border-radius: 15px;
    }
    &--introduction {
      color: $mainColor;
      background-color: $secondaryColor;
      width: max-content;
      padding: 8px;
      border-radius: 15px;
    }
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__paragraph {
    &-list {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
      margin: 0 34px;
      text-align: justify;
      font-size: 18px;
      &-item {
        margin: 8px 0;
      }
    }
  }
}
