.section {
  min-height: 100vh;
  margin: 128px 0;
  &--welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--history {
    display: grid;
    grid-template-areas:
      "header header header header"
      "image image image image"
      "article article article article"
      "link link link link";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 70vh 1fr 10vh;
  }
  &__article {
    &-header {
      &--history {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $secondaryColor;
        color: $mainColor;
        height: 50px;
        padding: 0 16px;
      }
    }
    &--history {
      grid-area: article;
    }
  }
  &__container {
    &--history {
      grid-area: link;
      margin: 32px 0;
      display: grid;
      grid-template-areas:
        "heading heading heading"
        "link1 link2 link3";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40px 40px;
      column-gap: 16px;
      row-gap: 16px;
      margin: 0 16px;
      &-link {
        border: solid 2px $secondaryColor;
        border-radius: 8px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
          border 0.5s ease-in-out;
        &-1 {
          grid-area: link1;
        }
        &-2 {
          grid-area: link2;
        }
        &-3 {
          grid-area: link3;
        }
        &:hover {
          color: $mainColor;
          background-color: $secondaryColor;
          border: solid 2px $mainColor;
        }
      }
    }
    &-tile {
      margin: 32px 0;
    }
    &--introduction {
      text-align: center;
    }
  }
  &__image {
    &--welcome {
      width: 100vw;
      height: 300px;
      margin: 48px 0;
    }
    &--history {
      grid-area: image;
    }
    &--introduction {
    }
  }
  &__h1 {
    text-align: center;
    margin: 24px 8px 40px;
    font-size: 42px;
    animation: headerAppear 1s 0.5s ease-in-out both;
  }
  &__h2 {
    text-align: center;
    font-size: 36px;
    &--history {
      grid-area: header;
      margin: 32px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__h3 {
    font-size: 24px;
    &--history {
    }
    &--link {
      grid-area: heading;
      text-align: center;
      margin: 16px 0;
    }
    &--introduction {
      color: $mainColor;
      background-color: $secondaryColor;
      width: max-content;
      padding: 8px;
      border-radius: 15px;
    }
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__paragraph {
    margin: 16px 16px;
    text-align: justify;
    font-size: 18px;
    &-list {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
      margin: 0 34px;
      text-align: justify;
      font-size: 18px;
      &-item {
        margin: 8px 0;
      }
    }
  }
}
